@import '../../assets/scss/mixins.scss';

.game_list {
    .game_list__row {
        display: flex;
        padding: 20px;

        @include tablet {
            flex-direction: column-reverse;
        }

        .game_list__row__image {}

        .game_list__row__details {
            margin-left: 30px;

            @include tablet {
                margin-left: 0;
                margin-bottom: 30px;
            }

            .game_list__row__title {
                margin-bottom: 15px;
            }

            .game_list__row__description {}
        }

        &:hover {
            cursor: pointer;
            transition: 0.2s;
        }
    }
}